---
hostname: vagrant-test
box: bento/centos-7.3
ip: 10.0.0.10
#network:
#  ip: 192.168.0.100
#  bridge: "en5: Thunderbolt Ethernet"
memory: 2048

db_name: develop
db_username: develop
db_password: develop

ruby_version: 2.4.1