---
hostname: vagrant-test
box: bento/centos-7.2
ip: 192.168.33.10
#network:
#  ip: 192.168.0.100
#  bridge: "en5: Thunderbolt Ethernet"
memory: 2048

db_name: develop
db_username: develop
db_password: develop

ryby_version: 2.2.4