---
# ip を変更した場合は resources/apache/ssl.conf の ServerName も要変更
hostname: vagrant
box: bento/centos-7
ip: 10.0.0.100
# network:
#   ip: 192.168.0.100
#   bridge: "en5: Thunderbolt Ethernet"
memory: 2048

# db_name: develop
# db_username: develop
# db_password: develop

# ruby_version: 3.0.0
# node_version: 15.12.0